body{
    background: rgb(35.9%, 35.9%, 35.9%);
}

.setting-group{
    background: rgb(89%, 84.7%, 100%);
    padding: 10px;
    margin-top: 15px;
    border-radius: 25px;
}

.setting-label{
    margin: 0;
}

.vertical-slider {
  -webkit-appearance: slider-vertical;
  height: 80px;
  margin-top: 15px;
  padding: 0;
  width: 15px;
}

.delay{
    border: 2px solid black;
}

