@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
.visualizer {
background: black;
display: inline;
border: white 2px solid;
border-radius: 4px;
min-width: 894px;
max-height: 300px;
margin: 20px 37px 0px 20px
}

body {
  background-image: url('http://www.homedepot.com/catalog/productImages/1000/4c/4ca85dba-9792-4438-b892-0aeb67208667_1000.jpg');
}

h3, h4  {

  color:	#D5AD6D; /*if no support for background-clip*/
	
	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

div.setting-group {
    background-image: url('http://www.aircraftpanel.com/gallery/black-textured-hires.jpg');
    padding: 10px;
    margin-top: 20px;
    margin-left: -10px;
    border: 5px  solid silver;
    box-shadow: 0px 3px 10px 0px black;
    color: white;
    width: 100%;
    text-align: center;
    height: 300px;
    
}


label.slider-label {
      margin-top: 40px;
      margin-right: 30px;
}

div#master.setting-group {
  min-width: 350px;
  background-image: url('http://www.aircraftpanel.com/gallery/black-textured-hires.jpg');
    padding: 10px;
    border: 5px  solid silver;
    box-shadow: 0px 3px 10px 0px black;
    color: white;
    width: 100%;
    text-align: center;
    margin-left: 0px;
}

div#osc1.setting-group {
  margin-left: 0px;
  
}
div#osc2.setting-group {
  margin-left: 0px;
  
}


div#drum-machine.setting-group {
 width: 100%;
 margin-left: 0px;
}



slider-label {
  margin-top: 100px;
}

.vertical-slider {
  -webkit-appearance: slider-vertical;
  height: 80px;
  margin-top: 15px;
  padding: 0;
  width: 15px;
}


.delay{
    border: 2px solid black;
}

/*Drum machine styles*/

button.drumBtn.btn.btn-default {
        margin: 40px 0px 0px 229px;
}
label#drumVolume {
    margin-left: 870px;
}

.trackList {
    margin-left: 110px;
    margin-top: 10px;
}

button#stopTrack {
    margin-left: 43px;
}

button#startTrack {
    margin-left: 666px;
}
div#samplePlayerRow {
    margin-top: 20px;
}

#tuna-container{
   background-image: url('http://www.aircraftpanel.com/gallery/black-textured-hires.jpg');
    padding: 25px;
    margin-top: 20px;
    border: 5px  solid silver;
    box-shadow: 0px 3px 10px 0px black;
    color: white;
    width: 100%;
    margin-left: 0px;
}

div.col-md-12.text-center {
  margin-left: 0px;
}


/*======RED LED CSS================*/
.led-red-on{
  -webkit-animation: blinkRed 2s infinite;
  -moz-animation: blinkRed 2s infinite;
  -ms-animation: blinkRed 2s infinite;
  -o-animation: blinkRed 2s infinite;
  animation: blinkRed 2s infinite;
}

  @-webkit-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-moz-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-ms-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-o-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

.led-red {
  margin-left:82%;
  width: 24px;
  height: 24px;
    background-color: #A00;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  /*background-color: #F00;*/
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;

}

/*=======END OF RED LED BTNS=======*/




li {
        box-shadow: 0px 1px 6px 0px black; 
   
}


